.navigation {list-style: none}
.navigation li { display: inline-block; margin: 0; padding: 5px 10px 5px 0}
.navigation li a { text-decoration: none }
.navigation li a:hover { text-decoration: underline }
.wrapper {margin: auto; padding: 0 10px; width: 940px;}
